{% extends "base.html" %} 
{% block title %} About {% endblock title %} 
{% block body %}

<h1 class="text-center my-5">About Us</h1>
<div class="container mb-5" style="width: 60rem;">
  <h3 class="fw-bold">Overview</h3>
  <p>At Local Guide, we are passionate about helping people explore the world. We believe that travel is one of the best ways to learn about different cultures, meet new people, and create lasting memories.</p>
  <p>That's why we are committed to providing our customers with the best possible travel experience by experience the best local places in the world.</p>
  <p>We believe in that travel should be sustainable and responsible, We are committed to minimizing our impact on the environment and supporting local communities wherever we go.</p>
  <p>Local Guide is a local recommendation system with quailty facts and information it's a model which will lead and guide tuorists for their tours by pre planning the tour or update the tuorists with changes for a deligthful experience.</p>
  <p>The tourists can experince local places, which local guide will recommend best restaurants, hotels, attractions, activities and shopping. Local guide will interpret and present local sites and places of interest.</p>
  <p>Recommendation of trips based on the season for various locations to experince the most of the State or city.</p>
  <p>Example Nashik is known for its religious and historical importance, it is even called as the "Wine Caplital of India" and the hub for India's currency production, but the best season to visit Nashik for its religious and historical importance in from the month of October - March and to experince the Wine festival is from March to June.</p>
  <p>As every State and City has it importance based on the season too, so we at Local guide want user to plan their trip based on the season so they can experince the places for its importance too and have delightful trip.</p>
  <p>Ready to plan your next Local or Internatonal Local travel.</p>
</div>

<div class="container mb-5" style="width: 60rem;">
  <div class="row">
    <div class="col">
      <h3 class="fw-bold">Who We Are</h3>
      <p>Recommenders and Data Science Enthusiasts, having a great passion to help people</p>
    </div>
    <div class="col">
      <h3 class="fw-bold">Careers</h3>
      <p>Interested in joining Local Guide? <a href="/contact">Contact Us</a> and we'll try to respond asap.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="fw-bold">Parteners</h3>
      <p>Google Maps and its Navigation system</p>
    </div>
  </div>
</div>

<div class="container mb-5" style="width: 60rem;">
  <h3 class="fw-bold">Vision</h3>
  <p>Vision for Local Guide is to create global community of explosers, adventures, Food Vloggers, Moto Vloggers and other exploser to share or write about there experncies  unseen, unscaped places, food or experencies that other can experince from.</p>
  <p>Local Guide is a global community of explorers who write reviews, share photos, answer questions, add or edit places, and check facts on Google Maps.</p>
  <p>Our vision is tp create a one stop platform for Wanderlust and to share there story with the world let it be an adventure within the city or in the wild, which will motivate other to get up plan and exploer various places.</p>
  <p>As our community grows we will recommened best places to stay not just hotels or logdes but best local camping spots too.</p>
</div>

<footer class="justify-content-between align-items-center border-top bg-dark">
  <h3 class="mx-3 text-light">Visit our other platforms also</h3>
  <ul class="nav col list-unstyled d-flex">
    <h1><li class="ms-3 text-light"><i class="fa fa-instagram"></i></li></h1>
    <h1><li class="ms-3 text-light"><i class="fa fa-twitter"></i></li></h1>
    <h1><li class="ms-3 text-light"><i class="fa fa-facebook"></i></li></h1>
  </ul>
  <div class="mx-3 d-flex align-items-center">
    <h4 class="text-light">©2023 LocalGuide, Inc</h4>
  </div>
</footer>

{% endblock body%}
