{% extends "base.html" %} 
{% block title %} Output for Food & Beverages {% endblock title %} 
{% block body %}

<h1 class="text-center my-4">Religious Places</h1>
<h5 class="text-center">Nashik District is filled with the spiritual places and these places have so much history and legends. You must visit the places below.</h5>
<div class="container-fluid">
    <!-- #1 -->
    <div class="row justify-content-center"> 
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Trimbakeshwar.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Trimbakeshwar Temple</h3>
                <p class="card-text">Located on the banks of River Godavari at the foothills of Brahmagiri Mountains, the Trimbakeshwar Temple is one among the 12 Jyotirlinga temples of Lord Shiva</p>
                <p><b>How to reach:</b> The distance between Nashik and Trimbakeshwar temple is 28 kilometers and can make a good road trip as many travelers drive themselves or hire a cab to the site.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Trimbak, Maharashtra 422212</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 5:30 AM - 9:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/HaLhxdDrp4jksnMp8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Panchvati.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Panchvati</h3>
                <p class="card-text">Devotees believe that a dip in this tank will fulfill their wishes and also free from their sins and salvation to the soul of the dead person is easily achieved by immersing their ashes in the holy waters of this tank.</p>
                <p><b>How to reach:</b> The best way to reach Panchvati is by taking a bus or a taxi directly to the kund.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 20 mins</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Panchvati, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 5:00 AM - 9:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/kZivNC9XjjDv8c3K6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/NavshyaGanpati.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Navshya Ganapati Temple</h3>
                <p class="card-text">Located on the banks of the river Godavari, the Navshya Ganapati Temple is more than 300 years old. It is believed that the Ganesha grants the wishes to its visitors.</p>
                <p><b>How to reach:</b> The best way to reach the temple is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Gangapur-Someshwar Road, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 7:30 AM and 8:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/17zsnrSNDtnZiF9c6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <!-- #2 -->
    <div class="row justify-content-center">
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Anjaneri.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Anjaneri Hill</h3>
                <p class="card-text">Anjneri Hill is a good spot for a little bit of trekking. It is believed to be the birthplace of Lord Hanuman and is named after Lord Hanuman's mother, Anjani.</p>
                <p><b>How to reach:</b> The best way to reach the temple is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Anjaneri, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 7:00 AM - 5:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/4em8NaPuraUxx4nq8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/SomeshwarTemple.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Someshwar Temple</h3>
                <p class="card-text">Someshwar Temple is a temple dedicated to Lord Shiva and Lord Hanuman on the banks of the river Godavari. This old and beautiful temple also offers a boating experience.</p>
                <p><b>How to reach:</b> The best way to reach the temple is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Gangapur Road, Someshwar, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 6:00 AM - 7:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/GvA7kAUUE7ebGf9H7" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Saptashrungi.png" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Saptashrungi</h3>
                <p class="card-text">Dedicated to the goddess Spatashrungi Nivasin, this temple is among the three half 'Shakipeethas' of Maharashtra.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Saptashrungi Garh Rd, Saptashurngi, Maharashtra</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 11:00 AM - 2:00 PM, 7:00 PM - 9:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/yAxju5hhcGY8RUVB7" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
</div>

{% endblock body%}