{% extends "base.html" %} 
{% block title %} Output for Food & Beverages {% endblock title %} 
{% block body %}

<h1 class="text-center my-4">Season Special</h1>
<div class="container-fluid">
    <h2 class="text-center">Summer</h2>
    <h5 class="text-center">This season is best suitable for Nashik's Special Fruit: Grapes  and you shall experience how these famous Vineyards makes the variety of Vines.</h5>
    <!-- #1 -->
    <div class="row justify-content-center"> 
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/SulaVineyards1.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Sula Vineyards</h3>
                <p class="card-text">Embark on a memorable wine tour with your family or friends and choose to go on a guided tour.</p>
                <p><b>How to reach:</b> The best way to reach the Sula Vineyards from major cities like Pune or Mumbai is by the Mumbai-Agra National Highway (NH3). You can cover the distance either by train, bus or car.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Gate 36/2, Govardhan Village, Off Gangapur-Savargaon Road, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 12:00 PM - 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.3 ★ |</span>
                <a href="https://maps.app.goo.gl/C5mP9ExqvLiawMj69" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/SomaVineVillage.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Soma Vine Village</h3>
                <p class="card-text">Soma Vine Village in Nashik is famous for its extensive vineyards which are overlooked by a pristine environment.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Village Ganghavare, Gangapur-Ganghavare Road</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 11:30 AM - 6:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.2 ★ |</span>
                <a href="https://maps.app.goo.gl/SHVKWR64CwFcJiuy5" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Zonkers.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Zonkers Adventure Park</h3>
                <p class="card-text">Nestled near the scenic backwaters of the Gangapur Dam, this park is an ideal adventure destination and houses facilities for an entire day of fun.</p>
                <p><b>How to reach:</b> If you are traveling from Nashik, take the Gangapur Rd and Gangapur-Savargaon Rd for a 40-minute ride that will take you to Gangapur dam where the adventure part is situated.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Opposite Beyond Resort By Sula, Gangapur-Savargaon Road, Gangavhare, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 11:00 AM - 9:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.1 ★ |</span>
                <a href="https://maps.app.goo.gl/BPEZXXKm1B4aMGT27" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center"> 
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Vaitarna.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Vaitarna River</h3>
                <p class="card-text">Held by the Adventure Camp Zone on the Vaitarna River, the camp has the best facilities to provide a wonderful experience.</p>
                <p><b>How to reach:</b> The distance between Nashik and Vaitarna river is approximately 140 kilometers and can be covered by both private and public in 2-3 hours.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2.5 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Vaitarna River, Nashik, Maharashtra</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 10:00 AM and 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.2 ★ |</span>
                <a href="https://maps.app.goo.gl/PdrNPnxKRyhrXBp8A" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/PandavLeni1.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Pandavleni Caves</h3>
                <p class="card-text">Pandavleni Caves, also known as Pandu caves or Nasik Caves, are situated in the foothills of Trivashmi Hills and are ancient rock-cut caves.</p>
                <p><b>How to reach:</b> The best way to reach the caves is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1.5 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Pandav Lene Rd, Buddha Vihar, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 8:30 AM and 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.5 ★ |</span>
                <a href="https://maps.app.goo.gl/hqWko5vqs1FDmqEV6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <!-- #2 -->
    <h2 class="text-center border-top py-4">Monsoon</h2>
    <h5 class="text-center">Nashik is very famous for its Waterfalls. In the Rainy season, you shall experience the wonderful waterfalls.</h5>
    <div class="row justify-content-center">
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Someshwar.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Someshwar Waterfalls</h3>
                <p class="card-text">It is one of the highest waterfalls in India and a popular picnic spot. To spend a relaxing evening, head to this place, and spend a lovely family time.</p>
                <p><b>How to reach:</b> The best way to reach the Someshwar Waterfalls is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Ambedkar Nagar, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> Day Time</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.2 ★ |</span>
                <a href="https://maps.app.goo.gl/R9BUsegmKRfr3T9A7" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/VihigaonWaterFalls.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Vihigaon Waterfall</h3>
                <p class="card-text">For a refreshing weekend away from the urban lifestyle you are accustomed to, head to Vihigaon waterfalls in Nashik and experience what it is like to be in the lap of nature.</p>
                <p><b>How to reach:</b> The best way to reach the caves is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Vihigaon, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 9:00 AM and 5:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.4 ★ |</span>
                <a href="https://maps.app.goo.gl/bCEa9N7B6Z9wYEEY9" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/MulherFort.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Mulher</h3>
                <p class="card-text">Also named Mayurgad, Mulher is situated at an altitude of 4200 feet above the ground and is home to several water cisterns.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3.5 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Mulher, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 7:00 AM - 4:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.6 ★ |</span>
                <a href="https://maps.app.goo.gl/KwaGKDgAQDcmN5Pp6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/GangapurDam.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Gangapur Dam</h3>
                <p class="card-text">Gangapur Dam of Nashik is one such architectural marvel that offers a great sight to behold along with being a perfect spot for a family picnic.</p>
                <p><b>How to reach:</b> The best way to reach the caves is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1.5 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Gangapur Dam, River Godavari, Nashik, Maharashtra</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 6:00 AM and 6:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.5 ★ |</span>
                <a href="https://maps.app.goo.gl/tkmvgi9V1FPiFLtv8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <h2 class="text-center">Winter</h2>
    <h5 class="text-center">Nashik and Winter are Born Friends. It is the coolest place in Maharashtra. You must visit the forts located in this beautiful nature.</h5>
    <!-- #3 -->
    <div class="row justify-content-center"> 
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Brahmagiri.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Brahmagiri Hill</h3>
                <p class="card-text">Brahmagiri Hill is an excellent trekking spot in Nashik. You can easily spend some time walking here. The hill used to have a fort of which only ruins remain now.</p>
                <p><b>How to reach:</b> The best way to reach the Brahmagiri Hill is by taking a private car or taxi directly to the spot or get on public transport to the closest station</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Western Ghats, Nashik, Maharashtra</li>
                <li class="list-group-item bg-success"><b>Timings:</b> Day Time</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.6 ★ |</span>
                <a href="https://maps.app.goo.gl/HL7o7ApMLJqcTBRPA" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Anjaneri.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Anjaneri Hill</h3>
                <p class="card-text">Anjneri Hill is a good spot for a little bit of trekking. It is believed to be the birthplace of Lord Hanuman and is named after Lord Hanuman's mother, Anjani.</p>
                <p><b>How to reach:</b> The best way to reach the temple is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Anjaneri, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 7:00 AM - 5:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/4em8NaPuraUxx4nq8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Kalsubai.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Kalsubai Shikhar</h3>
                <p class="card-text">Kalsubai is the highest peak of Maharashtra and stands tall at 5400ft making it one of the most interesting and popular treks in Nashik.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2.5 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Kalsubai Peak, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 5:00 AM - 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.7 ★ |</span>
                <a href="https://maps.app.goo.gl/1E6JiaF8gnz4TJGT8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center"> 
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/MangiTungi.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Mangi Tungi</h3>
                <p class="card-text">The popular twin peaks that are located near Tahrabad is one of the most popular attraction and you have to climb 4,500 steps to reach the top.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3.5 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Mangi Tungi, Tahrabad, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 6:00 AM - 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.5 ★ |</span>
                <a href="https://maps.app.goo.gl/eQ7NPDxjExhfXMkm6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/HariharFort.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Harihar Fort</h3>
                <p class="card-text">Located at a distance of 40 kilometers from Nashik, it is situated at an altitude of 3,676 ft from the sea level.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1.5 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Harihar Fort, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 7:00 AM - 6:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.7 ★ |</span>
                <a href="https://maps.app.goo.gl/bios1mD1XgN4LCQ7A" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
</div>

{% endblock body%}