{% extends "base.html" %} 
{% block title %} Output for Food & Beverages {% endblock title %} 
{% block body %}

<h1 class="text-center my-4">Things to do</h1>
<h5 class="text-center">There are so many places in Nashik to visit. Here are some our recommendations that we have experienced.</h5>
<div class="container-fluid">
    <!-- #1 -->
    <div class="row justify-content-center"> 
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Vaitarna.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Vaitarna River</h3>
                <p class="card-text">Held by the Adventure Camp Zone on the Vaitarna River, the camp has the best facilities to provide a wonderful experience.</p>
                <p><b>How to reach:</b> The distance between Nashik and Vaitarna river is approximately 140 kilometers and can be covered by both private and public in 2-3 hours.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2.5 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Vaitarna River, Nashik, Maharashtra</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 10:00 AM and 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.2 ★ |</span>
                <a href="https://maps.app.goo.gl/PdrNPnxKRyhrXBp8A" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/SulaVineyards1.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Sula Vineyards</h3>
                <p class="card-text">Embark on a memorable wine tour with your family or friends and choose to go on a guided tour.</p>
                <p><b>How to reach:</b> The best way to reach the Sula Vineyards from major cities like Pune or Mumbai is by the Mumbai-Agra National Highway (NH3). You can cover the distance either by train, bus or car.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Gate 36/2, Govardhan Village, Off Gangapur-Savargaon Road, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 12:00 PM - 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.3 ★ |</span>
                <a href="https://maps.app.goo.gl/C5mP9ExqvLiawMj69" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Zonkers.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Zonkers Adventure Park</h3>
                <p class="card-text">Nestled near the scenic backwaters of the Gangapur Dam, this park is an ideal adventure destination and houses facilities for an entire day of fun.</p>
                <p><b>How to reach:</b> If you are traveling from Nashik, take the Gangapur Rd and Gangapur-Savargaon Rd for a 40-minute ride that will take you to Gangapur dam where the adventure part is situated.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Opposite Beyond Resort By Sula, Gangapur-Savargaon Road, Gangavhare, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 11:00 AM - 9:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.1 ★ |</span>
                <a href="https://maps.app.goo.gl/BPEZXXKm1B4aMGT27" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <!-- #2 -->
    <div class="row justify-content-center">
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/CoinMuseum.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Coin Museum</h3>
                <p class="card-text">Spanning across an area of 505 acres of land, the Coin Museum is located on the campus of the Indian Institute of Research in Numismatic Studies.</p>
                <p><b>How to reach:</b> Approximately 20 kilometers from the central square in Nashik. Public transport such as bus and train are available from most stations in the city.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Opposite Grape County Resort Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 9:30 AM and 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.3 ★ |</span>
                <a href="https://maps.app.goo.gl/R5SPSm2c6hrdtR6y8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Trimbakeshwar.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Trimbakeshwar Temple</h3>
                <p class="card-text">Located on the banks of River Godavari at the foothills of Brahmagiri Mountains, the Trimbakeshwar Temple is one among the 12 Jyotirlinga temples of Lord Shiva</p>
                <p><b>How to reach:</b> The distance between Nashik and Trimbakeshwar temple is 28 kilometers and can make a good road trip as many travelers drive themselves or hire a cab to the site.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Trimbak, Maharashtra 422212</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 5:30 AM - 9:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/HaLhxdDrp4jksnMp8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Panchvati.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Panchvati</h3>
                <p class="card-text">Devotees believe that a dip in this tank will fulfill their wishes and also free from their sins and salvation to the soul of the dead person is easily achieved by immersing their ashes in the holy waters of this tank.</p>
                <p><b>How to reach:</b> The best way to reach Panchvati is by taking a bus or a taxi directly to the kund.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 20 mins</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Panchvati, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 5:00 AM - 9:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/kZivNC9XjjDv8c3K6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <!-- #3 -->
    <div class="row justify-content-center">
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Someshwar.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Someshwar Waterfalls</h3>
                <p class="card-text">It is one of the highest waterfalls in India and a popular picnic spot. To spend a relaxing evening, head to this place, and spend a lovely family time.</p>
                <p><b>How to reach:</b> The best way to reach the Someshwar Waterfalls is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Ambedkar Nagar, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> Day Time</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.2 ★ |</span>
                <a href="https://maps.app.goo.gl/R9BUsegmKRfr3T9A7" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Brahmagiri.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Brahmagiri Hill</h3>
                <p class="card-text">Brahmagiri Hill is an excellent trekking spot in Nashik. You can easily spend some time walking here. The hill used to have a fort of which only ruins remain now.</p>
                <p><b>How to reach:</b> The best way to reach the Brahmagiri Hill is by taking a private car or taxi directly to the spot or get on public transport to the closest station</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Western Ghats, Nashik, Maharashtra</li>
                <li class="list-group-item bg-success"><b>Timings:</b> Day Time</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.6 ★ |</span>
                <a href="https://maps.app.goo.gl/HL7o7ApMLJqcTBRPA" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/CentreMall.png" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Nashik City Centre Mall</h3>
                <p class="card-text">The Nashik city center mall is a perfect place to spend a few hours visiting the stores. It has a good collection of retail outlets, restaurants, and a multiplex theatre</p>
                <p><b>How to reach:</b> The best way to reach the mall is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 20 mins</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Parijat Nagar, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 11:00 AM - 10:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.3 ★ |</span>
                <a href="https://maps.app.goo.gl/ytHnHBCk8JNVbbvn8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <!-- #4 -->
    <div class="row justify-content-center">
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/NavshyaGanpati.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Navshya Ganapati Temple</h3>
                <p class="card-text">Located on the banks of the river Godavari, the Navshya Ganapati Temple is more than 300 years old. It is believed that the Ganesha grants the wishes to its visitors.</p>
                <p><b>How to reach:</b> The best way to reach the temple is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Gangapur-Someshwar Road, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 7:30 AM and 8:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/17zsnrSNDtnZiF9c6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Anjaneri.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Anjaneri Hill</h3>
                <p class="card-text">Anjneri Hill is a good spot for a little bit of trekking. It is believed to be the birthplace of Lord Hanuman and is named after Lord Hanuman's mother, Anjani.</p>
                <p><b>How to reach:</b> The best way to reach the temple is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Anjaneri, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 7:00 AM - 5:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/4em8NaPuraUxx4nq8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/SomeshwarTemple.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Someshwar Temple</h3>
                <p class="card-text">Someshwar Temple is a temple dedicated to Lord Shiva and Lord Hanuman on the banks of the river Godavari. This old and beautiful temple also offers a boating experience.</p>
                <p><b>How to reach:</b> The best way to reach the temple is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Gangapur Road, Someshwar, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 6:00 AM - 7:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/GvA7kAUUE7ebGf9H7" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <!-- #5 -->
    <div class="row justify-content-center">
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/PandavLeni1.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Pandavleni Caves</h3>
                <p class="card-text">Pandavleni Caves, also known as Pandu caves or Nasik Caves, are situated in the foothills of Trivashmi Hills and are ancient rock-cut caves.</p>
                <p><b>How to reach:</b> The best way to reach the caves is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1.5 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Pandav Lene Rd, Buddha Vihar, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 8:30 AM and 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.5 ★ |</span>
                <a href="https://maps.app.goo.gl/hqWko5vqs1FDmqEV6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Kalsubai.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Kalsubai Shikhar</h3>
                <p class="card-text">Kalsubai is the highest peak of Maharashtra and stands tall at 5400ft making it one of the most interesting and popular treks in Nashik.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2.5 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Kalsubai Peak, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 5:00 AM - 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.7 ★ |</span>
                <a href="https://maps.app.goo.gl/1E6JiaF8gnz4TJGT8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/SomaVineVillage.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Soma Vine Village</h3>
                <p class="card-text">Soma Vine Village in Nashik is famous for its extensive vineyards which are overlooked by a pristine environment.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 2 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Village Ganghavare, Gangapur-Ganghavare Road</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 11:30 AM - 6:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.2 ★ |</span>
                <a href="https://maps.app.goo.gl/SHVKWR64CwFcJiuy5" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <!-- #6 -->
    <div class="row justify-content-center">
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/VihigaonWaterFalls.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Vihigaon Waterfall</h3>
                <p class="card-text">For a refreshing weekend away from the urban lifestyle you are accustomed to, head to Vihigaon waterfalls in Nashik and experience what it is like to be in the lap of nature.</p>
                <p><b>How to reach:</b> The best way to reach the caves is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Vihigaon, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 9:00 AM and 5:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.4 ★ |</span>
                <a href="https://maps.app.goo.gl/bCEa9N7B6Z9wYEEY9" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/Saptashrungi.png" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Saptashrungi</h3>
                <p class="card-text">Dedicated to the goddess Spatashrungi Nivasin, this temple is among the three half 'Shakipeethas' of Maharashtra.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Saptashrungi Garh Rd, Saptashurngi, Maharashtra</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 11:00 AM - 2:00 PM, 7:00 PM - 9:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 5 ★ |</span>
                <a href="https://maps.app.goo.gl/yAxju5hhcGY8RUVB7" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/MulherFort.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Mulher</h3>
                <p class="card-text">Also named Mayurgad, Mulher is situated at an altitude of 4200 feet above the ground and is home to several water cisterns.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3.5 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Mulher, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 7:00 AM - 4:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.6 ★ |</span>
                <a href="https://maps.app.goo.gl/KwaGKDgAQDcmN5Pp6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
    <!-- #7 -->
    <div class="row justify-content-center">
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/GangapurDam.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Gangapur Dam</h3>
                <p class="card-text">Gangapur Dam of Nashik is one such architectural marvel that offers a great sight to behold along with being a perfect spot for a family picnic.</p>
                <p><b>How to reach:</b> The best way to reach the caves is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1.5 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Gangapur Dam, River Godavari, Nashik, Maharashtra</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 6:00 AM and 6:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.5 ★ |</span>
                <a href="https://maps.app.goo.gl/tkmvgi9V1FPiFLtv8" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/MangiTungi.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Mangi Tungi</h3>
                <p class="card-text">The popular twin peaks that are located near Tahrabad is one of the most popular attraction and you have to climb 4,500 steps to reach the top.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 3.5 hours</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Mangi Tungi, Tahrabad, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 6:00 AM - 5:30 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.5 ★ |</span>
                <a href="https://maps.app.goo.gl/eQ7NPDxjExhfXMkm6" class="card-link">Visit on Google Map</a>
            </div>
        </div>
        <div class="card mx-5 my-4 px-0" style="width: 27rem;">
            <img src="/static/HariharFort.jpg" class="card-img-top">
            <div class="card-body bg-warning">
                <h3 class="card-title fw-bold">Harihar Fort</h3>
                <p class="card-text">Located at a distance of 40 kilometers from Nashik, it is situated at an altitude of 3,676 ft from the sea level.</p>
                <p><b>How to reach:</b> The best way to reach the trekking point is by taking a private car or taxi directly to the spot or get on public transport to the closest station.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary"><b>Time required:</b> 1.5 hour</li>
                <li class="list-group-item bg-danger"><b>Address:</b> Harihar Fort, Nashik</li>
                <li class="list-group-item bg-success"><b>Timings:</b> 7:00 AM - 6:00 PM</li>
            </ul>
            <div class="card-body bg-primary">
                <span><b>Rating:</b> 4.7 ★ |</span>
                <a href="https://maps.app.goo.gl/bios1mD1XgN4LCQ7A" class="card-link">Visit on Google Map</a>
            </div>
        </div>
    </div>
</div>

{% endblock body%}